* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    margin-top: 2rem;
    text-align: center;
}

.app__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__formBtn {
    margin-left: 20px !important;
    text-transform: capitalize !important;
}

.todos__container {
    margin-top: 1rem;
}